p{
    margin:0px !important;
}

.card-login{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   .card-phone{
    width:550px;
    height:150px;
    border:1px solid #b8b8b8;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    margin-bottom:20px;
    input{
        border:1px solid #b8b8b8;
        border-radius:5px;
        height:40px;
        width:300px;
        padding-left:5px;
    }
    .btn-login{
        width:150px;
        height:40px;
        border-radius:5px;
        background-color: #2b4cde;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left:10px;
        &:hover{
            cursor: pointer;
        }
    }
   }
   p{
    span{
        text-decoration: underline;
        color:#0b84e3;
    }
   }
   .card-check{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    input{
        margin-right:5px;
    }
   }
}